.aboutSection{
   
    display: flex;
    align-items: center;    
    padding: 3% 10%;
    flex-direction: column;
    letter-spacing: 0.1em;
    line-height: 2em;
}
.title{
    color: goldenrod;
    text-transform: capitalize;
    text-decoration: underline;

}
.content{
    padding-top: 3%;
    color: black;
    background-color: azure;
}