.bookBtn {
  background-color: white;
  color: #c17625;
  height: 3em;
  width: 8em;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
  cursor: pointer;
}
.bookBtnHovered {
  background-color: black;
  color: white;
  height: 3em;
  width: 8em;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.disabledBtn {
  background-color: lightgray;
  cursor: not-allowed;
}
